In [102]:
import pandas as pd
from pprint import pprint
from item.historical.scripts.util.managers.dataframe import DataframeManager
from item.historical.scripts.util.managers.dataframe import ColumnName
from item.historical.scripts.util.managers.country_code import CountryCodeManager
from item.common import paths

# Variables to be used all over the notebook

In [103]:
DATASET_ID = "T002"
dataframeManager = DataframeManager(DATASET_ID)
countryCodeManager = CountryCodeManager()

# Opening the dataset

In [104]:
path = paths['data']/'historical'/'input'/'T002_input.csv'
df = pd.read_csv(path)
df

,COUNTRY,Country,VARIABLE,Variable,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1970,1970,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
1,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1971,1971,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
2,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1972,1972,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
3,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1973,1973,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
4,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1974,1974,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6476,BLR,Belarus,T-CONT-RL-TON,Rail containers transport (weight),2017,2017,TONNE,Tonnes,3,Thousands,NaN,NaN,4786.0,NaN,NaN
6477,BLR,Belarus,T-CONT-RL-TON,Rail containers transport (weight),2018,2018,TONNE,Tonnes,3,Thousands,NaN,NaN,5478.3,NaN,NaN
6478,BLR,Belarus,T-CONT-RL-TEU,Rail containers transport (TEU),2016,2016,NBR,Number,0,Units,NaN,NaN,333484.0,NaN,NaN
6479,BLR,Belarus,T-CONT-RL-TEU,Rail containers transport (TEU),2017,2017,NBR,Number,0,Units,NaN,NaN,524020.0,NaN,NaN
6480,BLR,Belarus,T-CONT-RL-TEU,Rail containers transport (TEU),2018,2018,NBR,Number,0,Units,NaN,NaN,635886.0,NaN,NaN

# Removing all unnecessary columns
    Rule: To comply with the latest template, we will drop all the unnecessary columns and rename others.

In [105]:
# Droping the repeated columns
columns_to_delete = ["COUNTRY", "YEAR", "VARIABLE","Reference Period Code","Unit Code","Reference Period", "Flag Codes", "Flags", "PowerCode Code"]
df.drop(columns=columns_to_delete, inplace = True)
df

,Country,Variable,Year,Unit,PowerCode,Value
0,North Macedonia,Maritime containers transport (weight),1970,Tonnes,Thousands,NaN
1,North Macedonia,Maritime containers transport (weight),1971,Tonnes,Thousands,NaN
2,North Macedonia,Maritime containers transport (weight),1972,Tonnes,Thousands,NaN
3,North Macedonia,Maritime containers transport (weight),1973,Tonnes,Thousands,NaN
4,North Macedonia,Maritime containers transport (weight),1974,Tonnes,Thousands,NaN
...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Identifying the countries that have NaN values
    Rule: Drop all columns who have NaN as value

In [106]:
list_of_countries_with_missing_values = list(set(df[df['Value'].isnull()]["Country"]))
print(">> Number of countries missing values: {}".format(len(list_of_countries_with_missing_values)))
print(">> Countries missing values:")
pprint(list_of_countries_with_missing_values)
print(">> Number of rows to erase: {}".format(len(df[df['Value'].isnull()])))

>> Number of countries missing values: 15
>> Countries missing values:
['Malta',
 'Austria',
 'Montenegro, Republic of',
 'Iceland',
 'Hungary',
 'Belarus',
 'Czech Republic',
 'Serbia, Republic of',
 'Slovak Republic',
 'Luxembourg',
 'North Macedonia',
 'Armenia',
 'Switzerland',
 'Liechtenstein',
 'Moldova']
>> Number of rows to erase: 1498

In [107]:
# Dropping the values
df.dropna(inplace = True)
df.reset_index(inplace = True)
df

,index,Country,Variable,Year,Unit,PowerCode,Value
0,49,India,Rail containers transport (TEU),1996,Number,Units,704000.0
1,50,India,Rail containers transport (TEU),1997,Number,Units,722000.0
2,51,India,Rail containers transport (TEU),1998,Number,Units,802000.0
3,52,India,Rail containers transport (TEU),1999,Number,Units,903000.0
4,53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0
...,...,...,...,...,...,...,...
4978,6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
4979,6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
4980,6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
4981,6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
4982,6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Adding the "Source" Column
    Rule: All the rows in this dataset come from the same source.

In [108]:
dataframeManager.simple_column_insert(df,ColumnName.SOURCE.value,"International Transport Forum")
df

,Source,index,Country,Variable,Year,Unit,PowerCode,Value
0,International Transport Forum,49,India,Rail containers transport (TEU),1996,Number,Units,704000.0
1,International Transport Forum,50,India,Rail containers transport (TEU),1997,Number,Units,722000.0
2,International Transport Forum,51,India,Rail containers transport (TEU),1998,Number,Units,802000.0
3,International Transport Forum,52,India,Rail containers transport (TEU),1999,Number,Units,903000.0
4,International Transport Forum,53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0
...,...,...,...,...,...,...,...,...
4978,International Transport Forum,6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
4979,International Transport Forum,6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
4980,International Transport Forum,6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
4981,International Transport Forum,6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
4982,International Transport Forum,6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Adding the "Service" column
    Rule: Since all the data presented is related to "Freight", the service is "Freight"

In [109]:
dataframeManager.simple_column_insert(df,ColumnName.SERVICE.value,"Freight")
df

,Service,Source,index,Country,Variable,Year,Unit,PowerCode,Value
0,Freight,International Transport Forum,49,India,Rail containers transport (TEU),1996,Number,Units,704000.0
1,Freight,International Transport Forum,50,India,Rail containers transport (TEU),1997,Number,Units,722000.0
2,Freight,International Transport Forum,51,India,Rail containers transport (TEU),1998,Number,Units,802000.0
3,Freight,International Transport Forum,52,India,Rail containers transport (TEU),1999,Number,Units,903000.0
4,Freight,International Transport Forum,53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0
...,...,...,...,...,...,...,...,...,...
4978,Freight,International Transport Forum,6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
4979,Freight,International Transport Forum,6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
4980,Freight,International Transport Forum,6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
4981,Freight,International Transport Forum,6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
4982,Freight,International Transport Forum,6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Adding the "Technology" and "Fuel" columns
    Rule: The dataset does not provide any information about technology or fuel. So, we set the value of "All" in both cases

In [110]:
# Adding the "Technology" and "Fuel" columns
dataframeManager.simple_column_insert(df,ColumnName.TECHNOLOGY.value,"All")
dataframeManager.simple_column_insert(df,ColumnName.FUEL.value,"All")
df

,Fuel,Technology,Service,Source,index,Country,Variable,Year,Unit,PowerCode,Value
0,All,All,Freight,International Transport Forum,49,India,Rail containers transport (TEU),1996,Number,Units,704000.0
1,All,All,Freight,International Transport Forum,50,India,Rail containers transport (TEU),1997,Number,Units,722000.0
2,All,All,Freight,International Transport Forum,51,India,Rail containers transport (TEU),1998,Number,Units,802000.0
3,All,All,Freight,International Transport Forum,52,India,Rail containers transport (TEU),1999,Number,Units,903000.0
4,All,All,Freight,International Transport Forum,53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0
...,...,...,...,...,...,...,...,...,...,...,...
4978,All,All,Freight,International Transport Forum,6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
4979,All,All,Freight,International Transport Forum,6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
4980,All,All,Freight,International Transport Forum,6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
4981,All,All,Freight,International Transport Forum,6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
4982,All,All,Freight,International Transport Forum,6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Creating the "Mode" column
    Rule: This dataset contains information about "Rail" and "Shipping". To determine whether it is a "Rail" or "Shipping," we will use the data provided in the "Variable" column.

In [111]:
# Setting the keywords to search for
rail_keyword = "Rail"
shipping_keyword = "Maritime"

#Variable holding the mode type
mode_results = []

# For each row, get the index and rename
for index, row in df.iterrows():
    
    if rail_keyword in row["Variable"]:
        mode_results.append("Rail")
    else:
        mode_results.append("Shipping")

# Adding the new column to the dataframe
df[ColumnName.MODE.value] = mode_results

# Asserting that all the mode for each row is correct
for index, row in df.iterrows():
    if rail_keyword in row["Variable"]:
        assert row["Mode"] == "Rail"
    else:
        assert row["Mode"] == "Shipping"

# Printing the dataframe        
df

,Fuel,Technology,Service,Source,index,Country,Variable,Year,Unit,PowerCode,Value,Mode
0,All,All,Freight,International Transport Forum,49,India,Rail containers transport (TEU),1996,Number,Units,704000.0,Rail
1,All,All,Freight,International Transport Forum,50,India,Rail containers transport (TEU),1997,Number,Units,722000.0,Rail
2,All,All,Freight,International Transport Forum,51,India,Rail containers transport (TEU),1998,Number,Units,802000.0,Rail
3,All,All,Freight,International Transport Forum,52,India,Rail containers transport (TEU),1999,Number,Units,903000.0,Rail
4,All,All,Freight,International Transport Forum,53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,Rail
...,...,...,...,...,...,...,...,...,...,...,...,...
4978,All,All,Freight,International Transport Forum,6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,Rail
4979,All,All,Freight,International Transport Forum,6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,Rail
4980,All,All,Freight,International Transport Forum,6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,Rail
4981,All,All,Freight,International Transport Forum,6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,Rail
4982,All,All,Freight,International Transport Forum,6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,Rail

# Setting the "Vehicle Type" column
    Rule: Since the entire dataset is about containers data, the vehicle type is "Container

In [112]:
dataframeManager.simple_column_insert(df,ColumnName.VEHICLE_TYPE.value,"Container")
df

,Vehicle Type,Fuel,Technology,Service,Source,index,Country,Variable,Year,Unit,PowerCode,Value,Mode
0,Container,All,All,Freight,International Transport Forum,49,India,Rail containers transport (TEU),1996,Number,Units,704000.0,Rail
1,Container,All,All,Freight,International Transport Forum,50,India,Rail containers transport (TEU),1997,Number,Units,722000.0,Rail
2,Container,All,All,Freight,International Transport Forum,51,India,Rail containers transport (TEU),1998,Number,Units,802000.0,Rail
3,Container,All,All,Freight,International Transport Forum,52,India,Rail containers transport (TEU),1999,Number,Units,903000.0,Rail
4,Container,All,All,Freight,International Transport Forum,53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,Rail
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4978,Container,All,All,Freight,International Transport Forum,6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,Rail
4979,Container,All,All,Freight,International Transport Forum,6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,Rail
4980,Container,All,All,Freight,International Transport Forum,6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,Rail
4981,Container,All,All,Freight,International Transport Forum,6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,Rail
4982,Container,All,All,Freight,International Transport Forum,6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,Rail

# Setting the correct unit name for the "Unit" column
    Rule: For the rows that provide info about weight, the unit is 10^3 tonnes / yr. Therfore, the magnitude of the value provided is kept the same For the rows that provide info about TEU, the unit is kept as "Number"

In [113]:
# Variable holding the cleaned unit
unit_column = []

# For each row, do the following
for index, row in df.iterrows():
    if row["Unit"] == "Tonnes":
        # Setting the new value for the cell
        unit_column.append("10^3 tonnes / yr")
    else:
        unit_column.append(row["Unit"])
        
# Ensuring the lenght of the unit_column is the same as the lenght of the dataframe
assert len(df) == len(unit_column)

# Removing the current unit column
df.drop(columns=["Unit"], inplace = True)

# Adding the new unit column
df[ColumnName.UNIT.value] = unit_column
df

,Vehicle Type,Fuel,Technology,Service,Source,index,Country,Variable,Year,PowerCode,Value,Mode,Unit
0,Container,All,All,Freight,International Transport Forum,49,India,Rail containers transport (TEU),1996,Units,704000.0,Rail,Number
1,Container,All,All,Freight,International Transport Forum,50,India,Rail containers transport (TEU),1997,Units,722000.0,Rail,Number
2,Container,All,All,Freight,International Transport Forum,51,India,Rail containers transport (TEU),1998,Units,802000.0,Rail,Number
3,Container,All,All,Freight,International Transport Forum,52,India,Rail containers transport (TEU),1999,Units,903000.0,Rail,Number
4,Container,All,All,Freight,International Transport Forum,53,India,Rail containers transport (TEU),2000,Units,1045000.0,Rail,Number
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4978,Container,All,All,Freight,International Transport Forum,6476,Belarus,Rail containers transport (weight),2017,Thousands,4786.0,Rail,10^3 tonnes / yr
4979,Container,All,All,Freight,International Transport Forum,6477,Belarus,Rail containers transport (weight),2018,Thousands,5478.3,Rail,10^3 tonnes / yr
4980,Container,All,All,Freight,International Transport Forum,6478,Belarus,Rail containers transport (TEU),2016,Units,333484.0,Rail,Number
4981,Container,All,All,Freight,International Transport Forum,6479,Belarus,Rail containers transport (TEU),2017,Units,524020.0,Rail,Number
4982,Container,All,All,Freight,International Transport Forum,6480,Belarus,Rail containers transport (TEU),2018,Units,635886.0,Rail,Number

# Removing the "PowerCode" column
    Rule: This column is not necessary

In [114]:
df.drop(columns=["PowerCode"], inplace=True)
df

,Vehicle Type,Fuel,Technology,Service,Source,index,Country,Variable,Year,Value,Mode,Unit
0,Container,All,All,Freight,International Transport Forum,49,India,Rail containers transport (TEU),1996,704000.0,Rail,Number
1,Container,All,All,Freight,International Transport Forum,50,India,Rail containers transport (TEU),1997,722000.0,Rail,Number
2,Container,All,All,Freight,International Transport Forum,51,India,Rail containers transport (TEU),1998,802000.0,Rail,Number
3,Container,All,All,Freight,International Transport Forum,52,India,Rail containers transport (TEU),1999,903000.0,Rail,Number
4,Container,All,All,Freight,International Transport Forum,53,India,Rail containers transport (TEU),2000,1045000.0,Rail,Number
...,...,...,...,...,...,...,...,...,...,...,...,...
4978,Container,All,All,Freight,International Transport Forum,6476,Belarus,Rail containers transport (weight),2017,4786.0,Rail,10^3 tonnes / yr
4979,Container,All,All,Freight,International Transport Forum,6477,Belarus,Rail containers transport (weight),2018,5478.3,Rail,10^3 tonnes / yr
4980,Container,All,All,Freight,International Transport Forum,6478,Belarus,Rail containers transport (TEU),2016,333484.0,Rail,Number
4981,Container,All,All,Freight,International Transport Forum,6479,Belarus,Rail containers transport (TEU),2017,524020.0,Rail,Number
4982,Container,All,All,Freight,International Transport Forum,6480,Belarus,Rail containers transport (TEU),2018,635886.0,Rail,Number

# Determining the available values under the "Variable" column

In [115]:
set(df["Variable"])

{'Maritime containers transport (TEU)',
 'Maritime containers transport (weight)',
 'Rail containers transport (TEU)',
 'Rail containers transport (weight)'}

In [116]:
pprint(df.loc[[61]])

   Vehicle Type Fuel Technology  Service                         Source  \
61    Container  All        All  Freight  International Transport Forum

    index  Country                            Variable  Year  Value  Mode  \
61    156  Romania  Rail containers transport (weight)  1970  419.0  Rail

                Unit
61  10^3 tonnes / yr

# Setting the correct value for "Variable" column
    Rule: Container data is presented as either TEU or Weight. Therefore, this is how each of the current variable values will be mapped to the new Variable:
     'Maritime containers transport (TEU)' --> Freight (TEU)
     'Maritime containers transport (weight)' --> Freight (Weight)
     'Rail containers transport (TEU)' --> Freight (TEU)
     'Rail containers transport (weight)' --> Freight (Weight)

In [117]:
# Variable holding the variable column
variable_column = []

# Looping each row and setting the correct value
for index, row in df.iterrows():
    if "TEU" in row["Variable"]:
        variable_column.append("Freight (TEU)")
    else:
        variable_column.append("Freight (Weight)")
        
# Assert that the lenght of the variable column is the same as the lengh of the dataframe
assert len(df) == len(variable_column)

# Validating the data
for index, row in df.iterrows():
    if variable_column[index] == "Freight (TEU)":
        assert row["Unit"] == "Number"
    else:
        assert row["Unit"] == "10^3 tonnes / yr"
        
# Erasing the current variable column
df.drop(columns=["Variable"], inplace=True)

# Adding the new variable column
df[ColumnName.VARIABLE.value] = variable_column

df

,Vehicle Type,Fuel,Technology,Service,Source,index,Country,Year,Value,Mode,Unit,Variable
0,Container,All,All,Freight,International Transport Forum,49,India,1996,704000.0,Rail,Number,Freight (TEU)
1,Container,All,All,Freight,International Transport Forum,50,India,1997,722000.0,Rail,Number,Freight (TEU)
2,Container,All,All,Freight,International Transport Forum,51,India,1998,802000.0,Rail,Number,Freight (TEU)
3,Container,All,All,Freight,International Transport Forum,52,India,1999,903000.0,Rail,Number,Freight (TEU)
4,Container,All,All,Freight,International Transport Forum,53,India,2000,1045000.0,Rail,Number,Freight (TEU)
...,...,...,...,...,...,...,...,...,...,...,...,...
4978,Container,All,All,Freight,International Transport Forum,6476,Belarus,2017,4786.0,Rail,10^3 tonnes / yr,Freight (Weight)
4979,Container,All,All,Freight,International Transport Forum,6477,Belarus,2018,5478.3,Rail,10^3 tonnes / yr,Freight (Weight)
4980,Container,All,All,Freight,International Transport Forum,6478,Belarus,2016,333484.0,Rail,Number,Freight (TEU)
4981,Container,All,All,Freight,International Transport Forum,6479,Belarus,2017,524020.0,Rail,Number,Freight (TEU)
4982,Container,All,All,Freight,International Transport Forum,6480,Belarus,2018,635886.0,Rail,Number,Freight (TEU)

# Getting the ISO code for each country
    Rule: For each country, we need to assign its respective ISO code

## Determining which countries do not appear in the list of ISO Code
    As seen from the code below, four countries appear to not have ISO code. However, the reason is because the countries are written in a format that is not understandable. So, this is how each those "missing" countries will be called in order to obtain their ISO code

    Original Name --> New name
        > Korea --> Korea, Republic of

In [118]:
# Getting the list of countries available
list_of_countries = list(set(df["Country"]))

# Getting the list of countries with no ISO code
countries_with_no_ISO_code = countryCodeManager.get_list_of_countries_with_no_iso_code(list_of_countries)
        
# Print this list of countries with no ISO codes
countries_with_no_ISO_code

['Korea']

## Adding the ISO column to the df

In [119]:
dirty_list_of_all_countries = df["Country"]
clean_list_of_all_countries = []

for country in dirty_list_of_all_countries:
    if country == "Korea":
        clean_list_of_all_countries.append("Korea, Republic of")
    else:
        clean_list_of_all_countries.append(country)

# Ensure the size of the cleaned list is the same as the dirty list
assert len(clean_list_of_all_countries) == len(dirty_list_of_all_countries)

# Assert that for all elements in the new list, no country is left without an ISO code
assert len(countryCodeManager.get_list_of_countries_with_no_iso_code(clean_list_of_all_countries)) == 0

# Getting the list of iso codes
list_of_iso_codes = countryCodeManager.get_list_of_iso_for_countries(clean_list_of_all_countries)

# Adding the column to the dataframe
df[ColumnName.ISO_CODE.value] = list_of_iso_codes
df

,Vehicle Type,Fuel,Technology,Service,Source,index,Country,Year,Value,Mode,Unit,Variable,ISO Code
0,Container,All,All,Freight,International Transport Forum,49,India,1996,704000.0,Rail,Number,Freight (TEU),IND
1,Container,All,All,Freight,International Transport Forum,50,India,1997,722000.0,Rail,Number,Freight (TEU),IND
2,Container,All,All,Freight,International Transport Forum,51,India,1998,802000.0,Rail,Number,Freight (TEU),IND
3,Container,All,All,Freight,International Transport Forum,52,India,1999,903000.0,Rail,Number,Freight (TEU),IND
4,Container,All,All,Freight,International Transport Forum,53,India,2000,1045000.0,Rail,Number,Freight (TEU),IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4978,Container,All,All,Freight,International Transport Forum,6476,Belarus,2017,4786.0,Rail,10^3 tonnes / yr,Freight (Weight),BLR
4979,Container,All,All,Freight,International Transport Forum,6477,Belarus,2018,5478.3,Rail,10^3 tonnes / yr,Freight (Weight),BLR
4980,Container,All,All,Freight,International Transport Forum,6478,Belarus,2016,333484.0,Rail,Number,Freight (TEU),BLR
4981,Container,All,All,Freight,International Transport Forum,6479,Belarus,2017,524020.0,Rail,Number,Freight (TEU),BLR
4982,Container,All,All,Freight,International Transport Forum,6480,Belarus,2018,635886.0,Rail,Number,Freight (TEU),BLR

# Getting the ITEM region for each country

## Determining which countries are missing an ITEM region
    As seen from the cell below, there is no country that does no have a respective ITEM region. Therefore, no further cleaning needs to be done to get the item regions.

In [120]:
# Getting the list of ISO codes
list_of_iso_codes = list(set(df["ISO Code"]))

# Getting the list of ISO code with no region
iso_code_with_no_region = countryCodeManager.get_list_of_iso_codes_with_no_region(list_of_iso_codes)

# printing the list of ISO codes
iso_code_with_no_region

[]

## Adding the ITEM region column to the dataset

In [121]:
# Getting the complete list of iso codes
list_of_all_codes = df["ISO Code"]

item_region = countryCodeManager.get_list_of_regions_for_iso_codes(list_of_all_codes)

# Adding the column to the dataframe
df[ColumnName.ITEM_REGION.value] = item_region
df

,Vehicle Type,Fuel,Technology,Service,Source,index,Country,Year,Value,Mode,Unit,Variable,ISO Code,Region
0,Container,All,All,Freight,International Transport Forum,49,India,1996,704000.0,Rail,Number,Freight (TEU),IND,India
1,Container,All,All,Freight,International Transport Forum,50,India,1997,722000.0,Rail,Number,Freight (TEU),IND,India
2,Container,All,All,Freight,International Transport Forum,51,India,1998,802000.0,Rail,Number,Freight (TEU),IND,India
3,Container,All,All,Freight,International Transport Forum,52,India,1999,903000.0,Rail,Number,Freight (TEU),IND,India
4,Container,All,All,Freight,International Transport Forum,53,India,2000,1045000.0,Rail,Number,Freight (TEU),IND,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4978,Container,All,All,Freight,International Transport Forum,6476,Belarus,2017,4786.0,Rail,10^3 tonnes / yr,Freight (Weight),BLR,Non-EU Europe
4979,Container,All,All,Freight,International Transport Forum,6477,Belarus,2018,5478.3,Rail,10^3 tonnes / yr,Freight (Weight),BLR,Non-EU Europe
4980,Container,All,All,Freight,International Transport Forum,6478,Belarus,2016,333484.0,Rail,Number,Freight (TEU),BLR,Non-EU Europe
4981,Container,All,All,Freight,International Transport Forum,6479,Belarus,2017,524020.0,Rail,Number,Freight (TEU),BLR,Non-EU Europe
4982,Container,All,All,Freight,International Transport Forum,6480,Belarus,2018,635886.0,Rail,Number,Freight (TEU),BLR,Non-EU Europe

# Reordering the columns
    Rule: The columns have to be presented in the order presented by the template

In [122]:
df = dataframeManager.reorder_columns(df)
df

,Source,Country,ISO Code,Region,Variable,Unit,Service,Mode,Vehicle Type,Technology,Fuel,Value,Year
0,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,704000.0,1996
1,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,722000.0,1997
2,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,802000.0,1998
3,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,903000.0,1999
4,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,1045000.0,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4978,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (Weight),10^3 tonnes / yr,Freight,Rail,Container,All,All,4786.0,2017
4979,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (Weight),10^3 tonnes / yr,Freight,Rail,Container,All,All,5478.3,2018
4980,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (TEU),Number,Freight,Rail,Container,All,All,333484.0,2016
4981,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (TEU),Number,Freight,Rail,Container,All,All,524020.0,2017
4982,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (TEU),Number,Freight,Rail,Container,All,All,635886.0,2018

# Exporting the results

In [58]:
# Programming Friendly View
dataframeManager.create_programming_friendly_file(df)

# User Friendly View
dataframeManager.create_user_friendly_file(df)

> PF File saved at: /Users/hlinero/Documents/database/item/historical/scripts
> UF File saved at: /Users/hlinero/Documents/database/item/historical/scripts